/* custom styles for /form/edit form builder */

.sidebar {
	float: left;
	width: 200px;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
	margin-top: 28px;
}

	.sidebar ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	.sidebar li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0;
	}

.sticky {
	position: fixed;
	top: 15px;
}

.main {
	width: 700px;
	float: right;
}

	.col {
		width: 330px;
		float: left;
	}

	.col p {
		min-height: 22px;
	}

.section {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
}

	.section h6 {
		margin-top: -6px;
		margin-bottom: 8px;
	}

	.section p:last-child {
		margin-bottom: 0px;
	}

	.section .buttons {
		float: right;
	}

.info {
	font-style: italic;
	color: #666;
}

p {
	margin-bottom: 8px;
}

p.indent {
	margin-left: 16px;
	clear: both;
}

	.label {
		display: block;
		width: 110px;
		float: left;
		margin-top: 2px;
	}

	.sortable-field-item a:hover {
		cursor: move;
	}

#field-list-full, #field-list-list {
	margin-top: -27px;
}

#field-list-preview {
	margin-top: -18px;
}

#field-list-list, #field-list-preview {
	display: none;
}

.field-list-sortable {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.sortable-field-item {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	background: #f5f5f5;
	padding: 3px 10px 3px 10px;
	margin-left: 0px;
	margin-bottom: 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ccc;
}

.sortable-field-item:hover {
	cursor: move;
}

	.sortable-field-item a {
		color: #222;
		text-decoration: none;
	}

	.sortable-field-item a:hover {
		color: #222;
		text-decoration: none;
		cursor: move;
	}

.section-header {
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

#saving {
	display: none;
	float: right;
}

#done-editing {
	float: right;
}

/* full/list fields toggle */
.toggle {
	text-align: right;
	height: 28px;
}

	.toggle a {
		display: block;
		float: right;
		width: 20px;
		height: 20px;
	}

	#toggle-full {
		background: url(full-off.png);
		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: 1px solid #c5c5c5;
		border-right: 0px;
	}

	#toggle-list {
		background: url(list-off.png);
		border: 1px solid #c5c5c5;
		border-right: 0px;
	}

	#toggle-preview {
		background: url(preview-off.png);
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 1px solid #c5c5c5;
	}

	#toggle-full.active {
		background: url(full-on.png);
	}

	#toggle-list.active {
		background: url(list-on.png);
	}

	#toggle-preview.active {
		background: url(preview-on.png);
	}

/* tabs */
.ui-tabs-panel {
	padding-top: 15px;
}

.ui-tabs-hide {
	display: none;
}

.ui-tabs-nav {
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 0px;
	margin: 0px;
	padding-bottom: 2px;
}

.ui-state-default {
	display: inline;
	margin: 0px;
	padding: 0px;
}

	.ui-state-default a {
		text-decoration: none;
		margin: 0px;
		line-height: 20px;
		padding: 5px 10px 5px 10px;
		background: #e5e5e5;
		color: #222;
		border-right: 1px solid #bbb;
		outline: 0;
	}
	
	.ui-state-default a:hover {
		background: #d5d5d5;
		color: #000;
	}

	.ui-tabs-active a {
		background: #d5d5d5;
		color: #000;
	}
	
	.ui-tabs-active a:hover {
		background: #d5d5d5;
		color: #000;
	}
