
/* slider root element */
.slider { 
	background:#eee; 
	height:2px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #333;
	width:150px;
	float:left; 
	clear:right;
	margin-top:10px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	border-radius: 2px;
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#fff; 
	height:10px;
	width:10px;
	top:-5px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:1px solid #000;
	cursor:move;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* the input field */
.range {
	margin:0 0 0 15px;
	text-align:center;
	width:40px; 		
}