{! admin/util/dates !}

<p><a href="/form/add">{" Create a new form "}</a></p>

<p>
<table width="100%">
	<tr>
		<th width="40%">{"Title"}</th>
		<th width="30%">{"Created"}</th>
		<th width="15%">{"Results"}</th>
		<th width="15%">&nbsp;</th>
	</tr>
{% foreach forms %}
	<tr{% if loop_value->unread > 0 %} class="unread"{% end %}>
		<td><a href="/form/{{loop_value->id}}" target="_blank">{{ loop_value->title }}</a></td>
		<td>{{ loop_value->ts||I18n::date_time }}</td>
		<td><a href="/form/results?id={{ loop_value->id }}" title="{" Browse results "}">{{ loop_value->results }} ({{ loop_value->unread}} {"unread"})</a></td>
		<td style="text-align: right">
			{% if loop_value->locked %}
			{"Editing Locked"}
			{% else %}
			<a href="/form/edit?id={{ loop_value->id }}">{"Edit"}</a> | <a href="/form/delete?id={{ loop_value->id }}" onclick="return confirm ('{"Are you sure you want to permanently delete this form and all of its result data?"}');">{"Delete"}</a>
			{% end %}
		</td>
	</tr>
{% end %}
</table>
</p>

<style>
tr.unread td {
	font-weight: bold;
}
</style>
