<script type="text/javascript" src="/js/jquery.verify_values.js"></script>
<script type="text/javascript">
$(function () {
	$('#form-{{ id }}').verify_values ({
		handler: '{{ id }}',
		prefix: '/forms/validator/',
		callback: function (failed) {
			// highlight the failed elements
			for (var i = 0; i < failed.length; i++) {
				$('#' + failed[i] + '-notice').show ();
			}
		},
		reset: function (fields) {
			for (var i = 0; i < fields.length; i++) {
				$('#' + fields[i] + '-notice').hide ();
			}
		}
	});
	{% foreach failed %}
	$('#{{ loop_value }}-notice').show ();
	{% end %}

	$('#form-{{ id }}').autosave ();
});
</script>

{% if message %}
<p>{{ message }}</p>
{% end %}

<form method="post" id="form-{{ id }}">
